<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <h1>results</h1>
        <% allJobs.forEach(item => { %>
            <div style="border: 2px solid black;">
                <h3> title: <%= item.title %></h3>
                <p> company: <%= item.company %></p>
                <p> location: <%= item.location %></p>
                <a href="<%= item.url %>"><%= item.url %></a>

                <form action="/addList" method="POST">
                    <input type="hidden" name="title" value="<%= item.title %>" id="">
                    <input type="hidden" name="company" value="<%= item.company %>" id="">
                    <input type="hidden" name="location" value="<%= item.location %>" id="">
                    <input type="hidden" name="url" value="<%= item.url %>" id="">
                    <input type="hidden" name="description" value="<%= item.description %>" id="">

                    <input type="submit" value="add to my list" id="">
                </form>
            </div>
        <%}) %>
    </main>
</body>
</html>